

<%- include("header") -%>

<h2 class="box" id="heading">This is a about page.</h2>

<p class="box" id="heading">This page was created by El Cape Capo on the App Brewery Full Stack course.</p>


<%- include("footer") -%>
